<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Bazaar API</title>
    </head>
    <body>
    <% if(failure && failure.length > 0) { %>
        <p><%= failure %></p>
    <% } %>
    <% if(success && success.length > 0) { %>
        <p><%= success %></p>
    <% } %>