<% include ./partials/header.ejs %>
<!-- Beginning of Card -->
            <form action="/login" method="POST">
                Username: <input type="text" name="username" ><br>
                Password: <input type="text" name="password" ><br>
                <input type="submit" value="Submit">
            </form>   
  <!-- end of card -->
<% include ./partials/footer.ejs %>