<% include ./partials/header.ejs %>
    <!-- Beginning of Card -->
            <form action="/signup" method="POST">
                <input type="text" name="username" placeholder="username" required ><br>
               <input type="email" name="email" placeholder="email" required ><br>
                <input type="text" name="password" placeholder="password" required ><br>
                <input type="submit" value="Submit">
            </form>   
  <!-- end of card -->
<% include ./partials/footer.ejs %>
