@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Work+Sans');

:root {
  --highlighter-color: #FCFC99;
}

.home {
  padding-top: 15px;
}

.account {
  padding-top: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Work Sans", Montserrat, Raleway, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--highlighter-color);
}

.card {
  width: 16rem;
  margin: 12px;
  min-height: 200px;
  position: relative;
}

.search-component {
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.dropdown-menu-right {
  text-align: center;
}

.home .card {
  cursor: pointer;
}

.gearbox {
  margin-bottom: -10px;
  margin-top: 5px;
  font-size: 20px;
  position: absolute;
  bottom: 22px;
  right: 22px;
}

.gearbox i {
  margin-left: 10px;
  cursor: pointer;
}

.delete button {
  margin-left: 10px;
}

.list-category {
  font-weight: medium;
}