@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Work+Sans');

:root {
  --highlighter-color: #FCFC99;
}

a {
  color: rgb(0, 132, 137);
}

.modal-body {
  padding-bottom: 5px;
  padding-top: 10px;
}

.cursor {
  cursor: pointer;
}

.app-body {

}

.home {
  padding-top: 65px;
}

.category-view {
  padding-top: 0px;
}

.account {
  padding-top: 70px;
}

.search {

}

.service-view {
  padding-top: 15px;
}

.service-view li {
  padding-left: 0;
}

.search {

}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Work Sans", Montserrat, Raleway, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--highlighter-color);
}

.card {
  margin: 10px;
  min-height: 200px;
  position: relative;
  border-width: 0; 
}

img {
  border-radius: 5px;
}

.dropdown-menu-right {
  text-align: center;
}

.home .card {
  cursor: pointer;
}

.gearbox {
  margin-bottom: -10px;
  margin-top: 5px;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.gearbox i {
  margin-left: 10px;
  cursor: pointer;
}

.delete button {
  margin-left: 10px;
}

.clear { 
  clear: both;
  height: 100px; 
}

.textarea-review {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; 
}

.create-review {
  margin-top: 25px;
}

.create-review li {
  padding-left: 0;
}

.list-row {
  padding-bottom: 25px !important;
}

.list-category {
  font-weight: bolder;
  font-size: 35px;
  margin-left: -5px;
}

.list-description {
  margin-left: -5px;
}

.list-show-all {
  margin-left: -5px;
  font-weight: bold;
}

.card-info {
  margin-top: 10px;
}

.card-info .tag {
  font-size: 15px;
  margin-top: -5px;
}

.card-info .title {
  margin-top: -7px;
  font-weight: bold;
}

.card-info .price {
  font-size: 15px;
  margin-top: -8px;
  font-weight: bold;
}

.file-input-wrapper {
  overflow: hidden;
  position: relative;
}

.file-input-wrapper > input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 20px;
}

.upload {
  background-color: Transparent;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.rooms-list {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
}

.rooms-list {
  background-color:#F8F8F8;
}

.rooms-list ul {
  list-style-type: none;    
  padding: 0;
}

.rooms-list li {
  margin: 10px 0;
}

.rooms-list h4 {
  margin: 5px 0;
  color: black;
}

.rooms-list .room a {
  color: #788792;
  font-weight: 600;
  text-decoration: none;
}

.rooms-list .room.active a {
  color: #363232;
}

.message {
  margin: 15px;
}

.message .message-username {
  font-size: 11px;
  color: #3e5869;
  margin-bottom: 6px;
}

.message .message-text {
  background: #5ea3d0;
  color: white;
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 300;
}

.send-message-form {
  margin-bottom: 20px;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: #eceaea;
}

.send-message-form input:focus {
  outline-width: 0;
}

.service-view {

}

.service-view .loader {
  padding-top: 95px;
}

.service-view li {
  padding-left: 0;
}

.service-header .title {
  font-weight: bolder;
  font-size: 35px;
  padding-top: 20px;
}

.service-header .category {
  padding-bottom: 5px;
  font-size: 18px;
}

.service-header .price {
  font-weight: bold;
}

.service-view .service-info {
  padding-top: 95px;
}

.service-view .options-and-owner {
  padding-top: 95px;
}

.service-view .options {
  border-radius: 3px;
}

.service-view .option-info {
  border: 1px solid #dee2e6;
  border-top-width: 0;
  border-radius: 3px;
}

.service-view .option-info .price {
  font-weight: bold;
  font-size: 25px;
  margin-top: -5px;
}

.service-view .owner {
  border: 1px solid #dee2e6;
  border-radius: 3px;
}

.service-view .owner .owner-info{
  padding-left: 30px;
}

.service-view .owner .owner-name {
  margin: 0;
}

.service-view .owner .email {

}