<% include ../partials/header.ejs %>
<form action="/services/new" method="POST">
    <input type="text" name="name" placeholder="name" required>
    <!--author:String,-->
    <br>
    <textarea type="text" name="description" placeholder="Description" required></textarea>
    <br>
    <input type="submit" value="Submit">
</form>
<% include ../partials/footer.ejs %>
