<% include ../partials/header.ejs %>
<form action="/services/search" method="POST">
    <textarea name="query" placeholder="query" required></textarea>
    <input type="submit" value="Submit">
</form>
<% include ../partials/footer.ejs %>
